
* {
    box-sizing: border-box;
    
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(10, 10, 10);
    color: white;
    font-size: 16px;
}

.header-title {
    color: white;
    font-size: 2.3rem;
    font-weight: bold;
    padding: 0;
}

.song-title {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px;
    white-space: nowrap;
}

.song-info-seperator {
    padding: 0px 5px;
}

.navbar {
    margin-bottom: 20px;
}

.song-info-row {
    text-align: left;
    font-size: 11px;
    color: rgb(175, 175, 175);
    padding-left: 15%;
    padding-right: 10%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
    white-space: nowrap;
}

.song-row {
    padding: 10px 0px;
}

.nav-button {
    padding: 10px 0px;
    font-size: 16px;
    color: rgb(204, 204, 204);
    text-align: center;
    vertical-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    line-height: 30px;
    height: 50px;
    background-color: #343a40;
}

.footer-row {
    margin: 0;
}

.selected {
    color: white;
    background-color: rgb(10, 10, 10);
}

.search-bar {
    background-color: #343a40;
    border: none;
    border-radius: 6px;
    width: 80%;
    padding-left: 10px;
    color: rgb(204, 204, 204);
    height: 35px;
    margin-bottom: 10px;
}

.search-bar-icon {
    margin-left: -30px;
    vertical-align: -2px;
}

.content {
    margin-bottom: 50px;
}

/*
@media (max-width: 768px) {

}
*/